!!!
%html
  %head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    %title Document Upload

    <!-- Bootstrap core CSS + customizations -->
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" type="text/css" href="bower_components/selectize/dist/css/selectize.bootstrap3.css">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  %body
    %section
      .container
        .row
          .col-md-12
            <table cellspacing='0' class='table table-striped table-bordered' id='table-all' width='100%'></table>
        .row
          .col-md-6
            %form#form-request
              .form-group
                %label Title
                %input.form-control(name="title")
              .form-group
                %label Division
                %select.form-control(name="division" placeholder="Select a division...")
                  %option(value="") Select a division...
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
              .form-group
                %label File Type
                %select.form-control(name="file-type" placeholder="Select a file type...")
                  %option(value="") Select a file type...
                  %option(value="Word") Word
                  %option(value="PDF") PDF
                  %option(value="Excel") Excel
                  %option(value="PowerPoint") Powerpoint
                  %option(value="Video") Video
                  %option(value="file") Other
              .form-group
                %label Business Area
                %select.form-control(name="business-area" placeholder="Select a business area...")
                  %option(value="") Select a business area...
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
              .form-group
                %label Category
                %select.form-control(name="category" placeholder="Select a category...")
                  %option(value="") Select a category...
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
              .form-group
                %label Subject
                %select.form-control(name="subject" placeholder="Select a subject...")
                  %option(value="") Select a subject...
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
                  <option value="Example Value">Example Value</option>
              .form-group.has-error
                %label Select File
                %input(type="file" name="attachment")
                %p.help-block.hidden#help-attachment Something went wrong!
              %button.btn.btn-default(type="submit") Submit
              %p.help-block Will upload the selected file, if any.
          .col-md-6
            %p.strong [List of added / removed documents here]
    / Placed at the end of the document so the pages load faster
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="bower_components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/datatables/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/selectize/dist/js/standalone/selectize.min.js"></script>
    :javascript
      $(window).load(function() {

      });
      
      // Backbone.Collection.prototype.close = function(){
      //   this.off();
      //   this.stopListening();
      //   if(this.onClose){
      //     this.onClose();
      //   }
      // }
      // 
      // Backbone.View.prototype.close = function(){
      //   this.off();
      //   this.stopListening();
      //   this.undelegateEvents();
      //   if(this.onClose){
      //     this.onClose();
      //   }
      // }
      
      var EventQueue = _.clone(Backbone.Events);
      
      var DataView = function(tableSelector){
        _.extend(this, Backbone.Events);
        
        this.$collection = $(tableSelector).dataTable({
          "autoWidth": false,
          "processing": true,
          "ajax": "data/index.json",
          "columns": [
            { "title": "ID",            "width": "0%" },
            { "title": "Title",         "width": "43%" },
            { "title": "Division",      "width": "4%" },
            { "title": "File Type",     "width": "20%" },
            { "title": "Business Area", "width": "22%" },
            { "title": "Category",      "width": "0%" },
            { "title": "Subject",       "width": "11%" }
          ],
          "order": [
            [2, "asc"]
          ],
          "columnDefs": [
            {
              "visible": false, 
              "searchable": false,
              "orderable": false,
              "targets": [0] // can't see or search by ID or Category
            },
            { "visible": false, "targets": [5] },
            {
              "render": function(data, type, row){
                return '<a href="http://<your server>/documents?id=' + row[0] + '">' + data + '</a>';
              },
              "targets": 1
            },
            {
              "render": function(data, type, row){
                if(data.toLowerCase() === "word")
                  return '<i class="fa fa-file-word-o"></i> ' + data;  
                else if (data.toLowerCase() === "pdf")
                  return '<i class="fa fa-file-pdf-o"></i> ' + data;
                else if (data.toLowerCase() === "excel")
                  return '<i class="fa fa-file-excel-o"></i> ' + data;
                else if (data.toLowerCase() === "powerpoint")
                  return '<i class="fa fa-file-powerpoint-o"></i> ' + data;
                else if (data.toLowerCase() === "video")
                  return '<i class="fa fa-file-video-o"></i> ' + data;
                else
                  return '<i class="fa fa-file-o"></i> ' + data;
              },
              "targets": 3
            },
            {
              "render": function(data, type, row){
                if(row[5] === '-')
                  return data;
                else
                  return data + ' (' + row[5] + ')';
              },
              "targets": 4
            }
          ]
        });
        this.dtApi = this.$collection.api();
        
        this.listenTo(EventQueue, 'add', DataView.prototype.add);
        this.listenTo(EventQueue, 'remove', DataView.prototype.remove);
      };
      DataView.prototype.add = function(record){
        this.dtApi.row.add(record);
        this.dtApi.draw();
      };
      DataView.prototype.remove = function(recordIdx){
        this.dtApi.row(recordIdx).remove();
        this.dtApi.draw();
      };
      
      // ===
      
      var Data = function(){
        _.extend(this, Backbone.Events);
        this.listenTo(EventQueue, 'add', Data.prototype.save);
      };
      /**
       * Persists the form fields to the JSON file on the server.
       */
      Data.prototype.save = function(record){
        console.log('Writing to JSON ...');
        
        $.ajax({
          type: "POST",
          url: 'save.php',
          processData: false,
          contentType: 'application/json',
          data: JSON.stringify(record)
        })
        .fail(function(resp){
          console.log("JSON write operation failed!");
          var errObj = $.parseJSON(resp.responseText);
          
          EventQueue.trigger('error:add', errObj.error);
        });
      };
      
      // ===
      
      var FileInput = function(){
        _.extend(this, Backbone.Events);
        this.listenTo(EventQueue, 'user:add', FileInput.prototype.upload);
      };
      FileInput.prototype.upload = function(record, attachment){
        console.log('Uploading file ...');
        
        var form = new FormData();
        form.append("attachment", attachment);
        
        $.ajax({
          type: "POST",
          url: 'save-attachment.php',
          processData: false,
          contentType: false, // note, this is a multipart form request. 
          data: form
        })
        .done(function(data, status, resp){
          console.log('Upload success!');
          
          var hashed = $.parseJSON(resp.responseText);
          console.log(hashed);
          
          // Add the newly calculated file hash to the front of the record
          record.unshift(hashed.id);
          EventQueue.trigger('add', record);
        })
        .fail(function(resp){
          console.log("File upload operation failed!");

          var errObj = $.parseJSON(resp.responseText);
          EventQueue.trigger('error:add', errObj.error);
        });
      };
      
      // ===

      $(document).ready(function(evt) {
        $('form#form-request select[name="division"]').selectize({
          sortField: 'text'
        });
        $('form#form-request select[name="file-type"]').selectize({
          sortField: 'text'
        });
        $('form#form-request select[name="business-area"]').selectize({
          create: true
        });
        $('form#form-request select[name="category"]').selectize({
          create: true
        });
        $('form#form-request select[name="subject"]').selectize({
          create: true
        });
        
      // Handle user input
        $('form#form-request').submit(function(evt){
          evt.preventDefault();
          
          // Get the file attachment, if any
          var formElem = this;
          var $formElem = $(this);
          
          var attachments = $formElem.find('input[name="attachment"]').get(0).files;
          if(attachments.length === 0){
            EventQueue.trigger('error:add', 'No attachment specified');
            return;
          }
          var attachment = attachments[0];
          
          // Get the form fields, and format into a record
          var form = {};
          var formVals = $formElem.serializeArray();
          
          formVals.forEach(function(formVal){
            form[formVal.name] = formVal.value;
          });
          
          var record = [form.title, form.division, form['file-type'], form['business-area'], form.category, form.subject];
          
          EventQueue.trigger('user:add', record, attachment);
        });
        
      // Setup the app components
        var App = {
          dataView: new DataView('#table-all'),
          data: new Data(),
          fileInput: new FileInput()
        };
        _.extend(App, Backbone.Events);
        
        // Error handling
        App.listenTo(EventQueue, 'error:add', function(errorMsg){
          var $formElem = $('form#form-request');
          
          $formElem.find('.help-block#help-attachment').removeClass('hidden');
          $formElem.find('.help-block#help-attachment').text(errorMsg);
        });
      });
